*{
	margin: 0px;
	padding: 0px;
}
body{
	background: black
}
h1{
	width: 98vw;
	height: 98vh;
	background: rgba(0,0,0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10em;
	color: white;
	text-shadow: 0px 0px 20px white;
	text-decoration: underline;
	font-family: Tahoma;
	animation: 5s linear 1s infinite alternate slidein;
	border: 1vh solid white;
	border-radius: 10px;
	box-shadow: inset 0px 0px 100px white;
}
@keyframes 	slidein{
	0%{
		color: white;
		text-shadow: 0px 0px 20px white;
		border: 1vh solid white;
		box-shadow: inset 0px 0px 100px white;
	}
	25%{
		color: yellow;
		text-shadow: 0px 0px 20px yellow;
		border: 1vh solid yellow;
		box-shadow: inset 0px 0px 100px yellow;
	}
	50%{
		color: aqua;
		text-shadow: 0px 0px 20px aqua;
		border: 1vh solid aqua;
		box-shadow: inset 0px 0px 100px aqua;
	}
	75%{
		color: grey;
		text-shadow: 0px 0px 20px grey;
		border: 1vh solid grey;
		box-shadow: inset 0px 0px 100px grey;
	}
	100%{
		color: red;
		text-shadow: 0px 0px 20px red;
		border: 1vh solid red;
		box-shadow: inset 0px 0px 100px red;
	}
}